.MainHeader {
  background-color: #55ab80 !important;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .userInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 14px;
    line-height: 14px;



    .user {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-right: 10px;
    }
  }
}
